input[type="checkbox"] {
    position: absolute;
    visibility: hidden;
}

label {
    position: relative;
    display: block;
    width: 3.5em;
    height: 2em;
    border-radius: 1em;
    margin: 0 auto;
    background-color: #fff;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

label:before {
    content: ' ';
    position: absolute;
    top: -1px;
    left: 0;
    width: 2em;
    height: 2em;
    background-color: #eee;
    border-radius: 50%;
    border: 1px solid #d9d9d9;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

input:checked+label {
    background-color: #55D069;
}

input:checked+label:before {
    left: 1.5em;
    background-color: #fff;
}

body {
    padding-top: 100px;
    background-color: #2b2b2b;
}